{%- liquid

  assign paid_membership_order = false
  for item in cart.items
    if item.product.handle == settings.loyalty_paid_membership_product
      if cart.item_count == 1
        assign paid_membership_order = true
      endif
      break
    endif
  endfor

  assign cart_contains_only_gift_card = false
  assign gift_card_cart_items_count = 0
  assign gift_card_cart_items = cart.items | where: 'gift_card'
  for item in gift_card_cart_items
    assign gift_card_cart_items_count = gift_card_cart_items_count | plus: item.quantity
  endfor

  if cart.item_count == gift_card_cart_items_count
    assign cart_contains_only_gift_card = true
  endif

  assign cart_contains_only_gifts_and_memberships = false
  assign only_gift_cards_and_memberships = true

  for item in cart.items
    unless item.gift_card or item.product.handle == settings.loyalty_paid_membership_product
      assign only_gift_cards_and_memberships = false
      break
    endunless
  endfor

  if only_gift_cards_and_memberships
    assign cart_contains_only_gifts_and_memberships = true
  endif

  assign free_gift_in_cart = false
  assign free_gift_product = all_products[settings.loyalty_free_gift_product]
  if customer and free_gift_product != blank and free_gift_product.available and localization.country.iso_code == 'US'   
    
    assign cart_total_excluding_free_gift = cart.items_subtotal_price | times: 1.0 | divided_by: 100

    assign free_gift_threshold = settings.loyalty_free_member_free_gift_threshold
    if customer.tags contains 'vip'
      assign free_gift_threshold = settings.loyalty_paid_member_free_gift_threshold
    endif    

    assign free_gift_orders_validation = false
    if customer.tags contains 'vip' and customer.orders.size == 1
      assign free_gift_orders_validation = true
    elsif customer.orders.size == 0
      assign free_gift_orders_validation = true
    endif

    assign cart_over_threshold = false
    if cart_total_excluding_free_gift >= free_gift_threshold 
      assign cart_over_threshold = true
    endif
    
    unless cart_contains_only_gift_card or paid_membership_order or cart_contains_only_gifts_and_memberships
      if cart_over_threshold and free_gift_orders_validation
        assign free_gift_in_cart = true
      endif
    endunless
 

  endif  
-%}

{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

{%- liquid
  assign enable_loyalty_redeem_block = false
  if customer
    assign customer_rivo_data = customer.metafields.custom.rivo.value
    assign credits_balance = customer_rivo_data.credits_balance | plus: 0.0
    if credits_balance > 0 and cart.cart_level_discount_applications.size == 0
      assign enable_loyalty_redeem_block = true
    endif
  endif
-%}

<cart-drawer
  class="drawer{% if cart == empty %} is-empty{% endif %}"
  {% if enable_loyalty_redeem_block %}
    x-data="
      rivo({
        customerId: '{{ customer.id }}',
        availableCredits: {{ credits_balance }},
        cartUrl: '{{ routes.cart_url }}'
      })
    "
    x-init="init"
  {% endif %}
>
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
       
        <div class="drawer__inner-empty">
          <div class="close-btn-container">  
            <button
              class="drawer__close"
              type="button"
              onclick="this.closest('cart-drawer').close()"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icons', icon: 'close' %}
            </button>
        </div>
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                {% render 'icon-close' %}
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button cart__empty-link w-full">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">
          <span class="general-heading">
            {{ 'sections.cart.title' | t: count: cart.item_count }}
          </span>
          <span class="item-added-heading flex gap-[8px] items-center">
            {%- render 'icons', icon: 'tick' -%}
            {{ 'general.cart.item_added' | t }}
          </span>
        </h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icons', icon: 'close' %}
        </button>
      </div>

      {%- if settings.enable_cart_free_shipping and cart.item_count > 0 -%}
        {%- liquid
          assign has_free_shipping = false
          assign free_shipping_threshold = settings.cart_free_shipping_threshold | times: 100

          if customer
            if customer.tags contains settings.loyalty_paid_membership_customer_tag
              assign free_shipping_threshold = 0
            else
              assign free_shipping_threshold = settings.free_member_cart_free_shipping_threshold | times: 100
            endif
          endif

          assign free_shipping_remaining = free_shipping_threshold | minus: cart.total_price

          if free_shipping_remaining <= 0
            assign has_free_shipping = true
            assign percentage_progress_to_free_shipping = 100
          else
            assign percentage_progress_to_free_shipping = 100.0 | divided_by: free_shipping_threshold
            assign percentage_progress_to_free_shipping = percentage_progress_to_free_shipping | times: cart.total_price
          endif


        -%}

        {%- capture free_shipping_amount_html -%}
          <span data-free-shipping-remaining>{{ free_shipping_remaining | money }}</span>
        {%- endcapture -%}
        {% unless settings.cart_free_shipping_member_only and customer == blank %}
          <div class="cart-free-shipping{% if has_free_shipping %} cart-free-shipping--success{% endif %}">
            <h3 class="cart-free-shipping__message">
              {{ settings.cart_free_shipping_text | replace: '[AMOUNT]', free_shipping_amount_html }}
            </h3>
            <h3 class="cart-free-shipping__message cart-free-shipping__message--success">
              {{ settings.cart_free_shipping_success_text }}
            </h3>
  
            <div class="cart-free-shipping__progress-wrapper">
              <div
                class="cart-free-shipping__progress"
                style="width: {{ percentage_progress_to_free_shipping }}%"
              ></div>
            </div>
          </div>
        {% endunless %}
      {%- endif -%}

      <div class="overflow-auto cart-drawer-items-container">
        <cart-drawer-items
          {% if cart == empty %}
            class=" is-empty"
          {% endif %}
        >

        {% comment %} 22-11 Black friday discount on checkout URL {% endcomment %}
        {% assign show_discounts = settings.show_discounts | split: "," %}
        {% assign discount_param_string = "" %}
        
        {% for discount_application in cart.discount_applications %}
          {% if show_discounts and show_discounts contains discount_application.title %}
            {% assign discount_param_string = discount_param_string | append: discount_application.title | append: ','%}
          {% endif %}
        {% endfor %}     

        {% if discount_param_string != "" %}
          {% assign discount_param_string = discount_param_string | prepend: "&discount=" |  remove_last: "," %}
        {% endif %}
        
          <form
            action="{{ routes.cart_url }}?skip_shop_pay=true{% if discount_param_string and discount_param_string != ""%}{{ discount_param_string }}{% endif %}"
            id="CartDrawer-Form"
            class="cart__contents cart-drawer__form"
            method="post"
          >
            <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
              {%- if cart != empty -%}
                <div class="drawer__cart-items-wrapper">
                  {%- if free_gift_in_cart -%}
                    {%- render 'cart-free-gift' -%}
                  {%- endif -%}
                  {% if customer == blank %}
                    {% render 'loyalty-login-cta' %}
                  {% endif %}
                  {% comment %}
                    {%- if loyalty_membership_item -%}
                      <table class="loyalty-cart-table">
                        <tbody>
                          <tr
                            id="CartDrawer-Item-{{ cart.item_count }}"
                            class="cart-item cart-item--loyalty-membership"
                            role="row"
                          >
                            <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                              <a href="{{ item.url }}" class="cart-item__name break">
                                {{- loyalty_membership_item.product.title | escape -}}
                              </a>

                              <ul
                                class="discounts list-unstyled"
                                role="list"
                                aria-label="{{ 'customer.order.discount' | t }}"
                              >
                                {%- for discount in loyalty_membership_item.line_level_discount_allocations -%}
                                  <li class="discounts__discount">
                                    {%- render 'icon-discount' -%}
                                    {{ discount.discount_application.title }}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </td>

                            <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                              {%- render 'loading-spinner' -%}
                              <div class="cart-item__price-wrapper">
                                {%- if loyalty_membership_item.original_line_price
                                    != loyalty_membership_item.final_line_price
                                -%}
                                  <div class="cart-item__discounted-prices">
                                    <span class="visually-hidden">
                                      {{ 'products.product.price.regular_price' | t }}
                                    </span>
                                    <s class="cart-item__old-price price price--end">
                                      {{ loyalty_membership_item.original_line_price | money | split: '.' | first }}
                                      <sup>
                                        {{ loyalty_membership_item.original_line_price | money | split: '.' | last }}
                                      </sup>
                                    </s>
                                    <span class="visually-hidden">
                                      {{ 'products.product.price.sale_price' | t }}
                                    </span>
                                    <span class="price price--end">
                                      {{ loyalty_membership_item.final_line_price | money | split: '.' | first }}
                                      <sup>
                                        {{ loyalty_membership_item.final_line_price | money | split: '.' | last }}
                                      </sup>
                                    </span>
                                  </div>
                                {%- else -%}
                                  <span class="price price--end">
                                    {{ loyalty_membership_item.original_line_price | money | split: '.' | first }}
                                    <sup>
                                      {{ loyalty_membership_item.original_line_price | money | split: '.' | last }}
                                    </sup>
                                  </span>
                                {%- endif -%}
                              </div>
                            </td>
                            {%- liquid
                              assign has_qty_rules = false
                              if loyalty_membership_item.variant.quantity_rule.increment > 1 or loyalty_membership_item.variant.quantity_rule.min > 1 or loyalty_membership_item.variant.quantity_rule.max != null
                                assign has_qty_rules = true
                              endif

                              assign has_vol_pricing = false
                              if loyalty_membership_item.variant.quantity_price_breaks.size > 0
                                assign has_vol_pricing = true
                              endif
                            -%}
                            <td
                              class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                              role="cell"
                              headers="CartDrawer-ColumnQuantity"
                            >
                              <quantity-popover>
                                <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                                  <cart-remove-button
                                    id="CartDrawer-Remove-{{ loyalty_membership_item.index | plus: 1 }}"
                                    data-index="{{ loyalty_membership_item.index | plus: 1 }}"
                                  >
                                    <button
                                      type="button"
                                      class="button button--tertiary cart-remove-button"
                                      aria-label="{{ 'sections.cart.remove_title' | t: title: loyalty_membership_item.title | escape }}"
                                      data-variant-id="{{ loyalty_membership_item.variant.id }}"
                                    >
                                      {{ 'sections.cart.remove' | t }}
                                    </button>
                                  </cart-remove-button>
                                </div>
                              </quantity-popover>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    {%- endif -%}
                  {% endcomment %}

                  <table class="cart-items" role="table">
                    {% comment %}
                      <thead role="rowgroup">
                        <tr role="row">
                          <th id="CartDrawer-ColumnProductImage" role="columnheader">
                            <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                          </th>
                          <th
                            id="CartDrawer-ColumnProduct"
                            class="caption-with-letter-spacing"
                            scope="col"
                            role="columnheader"
                          >
                            {{ 'sections.cart.headings.product' | t }}
                          </th>
                          <th
                            id="CartDrawer-ColumnTotal"
                            class="right caption-with-letter-spacing"
                            scope="col"
                            role="columnheader"
                          >
                            {{ 'sections.cart.headings.total' | t }}
                          </th>
                          <th id="CartDrawer-ColumnQuantity" role="columnheader">
                            <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                          </th>
                        </tr>
                      </thead>
                    {% endcomment %}

                    <tbody role="rowgroup">
                      {%- for item in cart.items -%}


                        {% comment %} VARIABLE TO HIDE GWP FROM CART {% endcomment %}
                        {%- assign free_gift_id = "" -%}
                        {% if free_gift_product != blank and free_gift_product.available %}
                          {%- assign free_gift_id = free_gift_product.selected_or_first_available_variant.id -%}
                        {% endif %}

                        {%- liquid
                          # if item.product.handle == settings.loyalty_paid_membership_product
                          #  continue
                          # endif

                          # 22-11 Black friday only hide bero tote free product in cart drawer
                          assign product_name_lower = item.product.title | downcase
                                                    
                          # HIDE GWP FROM CART
                          if free_gift_id != blank and item.product.type == "GWP" and item.product.selected_or_first_available_variant.id != free_gift_id
                            continue
                          endif

                          if item.price == 0 and product_name_lower == "bero tote"
                            continue
                          endif
                          assign pre_order = false
                          assign preorder_date = ''
                          if item.variant.metafields.custom.preorder and localization.market.handle == 'us'
                            assign pre_order = true
                            assign preorder_date = item.variant.metafields.custom.preorder_release_date.value

                          endif
                          if localization.country.iso_code == 'GB' and item.variant.metafields.custom.uk_preorder
                            assign pre_order = true
                            assign preorder_date = item.variant.metafields.custom.uk_preorder_release_date.value
                          endif

                        -%}

                        <tr
                          id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                          class="cart-item {% if pre_order %}cart-item--pre-order{% endif %}"
                          role="row"
                          {% if pre_order %}
                            data-pre-order-text="{{ 'sections.cart.item.pre_order_text' | t }} {{ preorder_date }}"
                          {% endif %}
                        >
                          <td
                            class="cart-item__media cart-item__media--{{ item.image | split: '.' | last | split: '?' | first }}"
                            role="cell"
                            headers="CartDrawer-ColumnProductImage"
                          >
                            {% if item.image %}
                              {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                              <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                              <img
                                class="cart-item__image"
                                src="{{ item.image | image_url: width: 160 }}"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="80"
                                height="80"
                              >
                            {% endif %}
                          </td>

                          <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                            {%- if settings.show_vendor -%}
                              <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                            {%- endif -%}

                            <a href="{{ item.url }}" class="cart-item__name break">
                              {{- item.product.title | escape -}}
                            </a>

                            {%- if item.original_price != item.final_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price product-option">
                                  {{- item.original_price | money | split: '.' | first -}}
                                  <sup>
                                    {{- item.original_price | money | split: '.' | last -}}
                                  </sup>
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <strong class="cart-item__final-price product-option">
                                  {{ item.final_price | money | split: '.' | first }}
                                  <sup>
                                    {{ item.final_price | money | split: '.' | last }}
                                  </sup>
                                </strong>
                              </div>
                            {%- else -%}
                              <div class="product-option">
                                {{ item.original_price | money | split: '.' | first }}
                                <sup>
                                  {{ item.original_price | money | split: '.' | last }}
                                </sup>
                              </div>
                            {%- endif -%}

                            {%- if item.product.has_only_default_variant == false
                              or item.properties.size != 0
                              or item.selling_plan_allocation != null
                            -%}
                              {%- unless item.gift_card -%}
                                <dl>
                                  {%- if item.product.has_only_default_variant == false -%}
                                    {%- for option in item.options_with_values -%}
                                      <div class="product-option">
                                        <dt class="visually-hidden">{{ option.name }}:</dt>
                                        <dd>
                                          {{ option.value -}}
                                          {%- unless forloop.last %}, {% endunless %}
                                        </dd>
                                      </div>
                                    {%- endfor -%}
                                  {%- endif -%}

                                  {%- for property in item.properties -%}
                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                    {%- if property.last != blank and property_first_char != '_' -%}
                                      <div class="product-option">
                                        <dt>{{ property.first }}:</dt>
                                        <dd>
                                          {%- if property.last contains '/uploads/' -%}
                                            <a
                                              href="{{ property.last }}"
                                              class="link"
                                              target="_blank"
                                              aria-describedby="a11y-new-window-message"
                                            >
                                              {{ property.last | split: '/' | last }}
                                            </a>
                                          {%- else -%}
                                            {{ property.last }}
                                          {%- endif -%}
                                        </dd>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </dl>

                                {% comment %} <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p> {% endcomment %}
                              {%- endunless -%}
                            {%- endif -%}

                            <ul
                              class="discounts list-unstyled"
                              role="list"
                              aria-label="{{ 'customer.order.discount' | t }}"
                            >
                              {%- for discount in item.line_level_discount_allocations -%}
                                <li class="discounts__discount">
                                {% comment %} 22-11 Black friday only show BF coupon {% endcomment %}
                                  {% if show_discounts and show_discounts contains discount.discount_application.title %}

                                    {%- render 'icon-discount' -%}
                                    {{ discount.discount_application.title }}  

                                  {% endif %}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </td>

                          <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                            {%- render 'loading-spinner' -%}
                            <div class="cart-item__price-wrapper">
                              {%- if item.original_line_price != item.final_line_price -%}
                                <div class="cart-item__discounted-prices">
                                  <span class="visually-hidden">
                                    {{ 'products.product.price.regular_price' | t }}
                                  </span>
                                  <s class="cart-item__old-price price price--end">
                                    {{ item.original_line_price | money | split: '.' | first }}
                                    <sup>
                                      {{ item.original_line_price | money | split: '.' | last }}
                                    </sup>
                                  </s>
                                  <span class="visually-hidden">
                                    {{ 'products.product.price.sale_price' | t }}
                                  </span>
                                  <span class="price price--end">
                                    {{ item.final_line_price | money | split: '.' | first }}
                                    <sup>
                                      {{ item.final_line_price | money | split: '.' | last }}
                                    </sup>
                                  </span>
                                </div>
                              {%- else -%}
                                <span class="price price--end">
                                  {{ item.original_line_price | money | split: '.' | first }}
                                  <sup>
                                    {{ item.original_line_price | money | split: '.' | last }}
                                  </sup>
                                </span>
                              {%- endif -%}

                              {%- if item.variant.available and item.unit_price_measurement -%}
                                <div class="unit-price caption">
                                  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                  {{ item.unit_price | money }}
                                  <span aria-hidden="true">/</span>
                                  <span class="visually-hidden"
                                    >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                  >
                                  {%- if item.unit_price_measurement.reference_value != 1 -%}
                                    {{- item.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ item.unit_price_measurement.reference_unit }}
                                </div>
                              {%- endif -%}
                            </div>
                          </td>
                          {%- liquid
                            assign has_qty_rules = false
                            if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                              assign has_qty_rules = true
                            endif

                            assign has_vol_pricing = false
                            if item.variant.quantity_price_breaks.size > 0
                              assign has_vol_pricing = true
                            endif
                          -%}
                          <td
                            class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                            role="cell"
                            headers="CartDrawer-ColumnQuantity"
                          >
                            <quantity-popover>
                              <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                                {%- unless item.product.handle == settings.loyalty_paid_membership_product -%}
                                  <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                    <quantity-input class="quantity cart-quantity">
                                      <button class="quantity__button" name="minus" type="button">
                                        <span class="visually-hidden">
                                          {{-
                                            'products.product.quantity.decrease'
                                            | t: product: item.product.title
                                            | escape
                                          -}}
                                        </span>
                                        {% render 'icons', icon: 'minus' %}
                                      </button>
                                      <input
                                        class="quantity__input"
                                        type="number"
                                        data-quantity-variant-id="{{ item.variant.id }}"
                                        name="updates[]"
                                        value="{{ item.quantity }}"
                                        {% # theme-check-disable %}
                                        data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                        min="0"
                                        data-min="{{ item.variant.quantity_rule.min }}"
                                        {% if item.variant.quantity_rule.max != null %}
                                          max="{{ item.variant.quantity_rule.max }}"
                                        {% endif %}
                                        step="{{ item.variant.quantity_rule.increment }}"
                                        {% # theme-check-enable %}
                                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                        id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                        data-index="{{ item.index | plus: 1 }}"
                                      >
                                      <button class="quantity__button" name="plus" type="button">
                                        <span class="visually-hidden">
                                          {{-
                                            'products.product.quantity.increase'
                                            | t: product: item.product.title
                                            | escape
                                          -}}
                                        </span>
                                        {% render 'icons', icon: 'plus' %}
                                      </button>
                                    </quantity-input>
                                  </div>
                                {%- endunless -%}

                                <cart-remove-button
                                  id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                  <button
                                    type="button"
                                    class="button button--tertiary cart-remove-button"
                                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                    data-variant-id="{{ item.variant.id }}"
                                  >
                                    {{ 'sections.cart.remove' | t }}
                                  </button>
                                </cart-remove-button>
                              </div>
                              {%- if has_qty_rules or has_vol_pricing -%}
                                <button
                                  type="button"
                                  class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                  aria-expanded="false"
                                >
                                  {% render 'icon-info' %}
                                  <span>
                                    {%- if has_vol_pricing -%}
                                      {{ 'products.product.volume_pricing.note' | t }}
                                    {%- elsif has_qty_rules -%}
                                      {{ 'products.product.quantity.note' | t }}
                                    {%- endif -%}
                                  </span>
                                </button>
                              {%- endif -%}
                              {%- if has_vol_pricing or has_qty_rules -%}
                                <div
                                  class="cart-items__info global-settings-popup quantity-popover__info"
                                  tabindex="-1"
                                  hidden
                                >
                                  {%- if has_qty_rules == false -%}
                                    <span class="volume-pricing-label caption">
                                      {{- 'products.product.volume_pricing.title' | t -}}
                                    </span>
                                  {%- endif -%}
                                  <div class="quantity__rules caption">
                                    {%- if item.variant.quantity_rule.increment > 1 -%}
                                      <span class="divider">
                                        {{-
                                          'products.product.quantity.multiples_of'
                                          | t: quantity: item.variant.quantity_rule.increment
                                        -}}
                                      </span>
                                    {%- endif -%}
                                    {%- if item.variant.quantity_rule.min > 1 -%}
                                      <span class="divider">
                                        {{-
                                          'products.product.quantity.min_of'
                                          | t: quantity: item.variant.quantity_rule.min
                                        -}}
                                      </span>
                                    {%- endif -%}
                                    {%- if item.variant.quantity_rule.max != null -%}
                                      <span class="divider">
                                        {{-
                                          'products.product.quantity.max_of'
                                          | t: quantity: item.variant.quantity_rule.max
                                        -}}
                                      </span>
                                    {%- endif -%}
                                  </div>
                                  <button
                                    class="button-close button button--tertiary"
                                    type="button"
                                    aria-label="{{ 'accessibility.close' | t }}"
                                  >
                                    {%- render 'icon-close' -%}
                                  </button>
                                  {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                    <volume-pricing class="parent-display">
                                      <ul class="list-unstyled">
                                        <li>
                                          <span>{{ item.variant.quantity_rule.min }}+</span>
                                          <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                        </li>
                                        {%- for price_break in item.variant.quantity_price_breaks -%}
                                          <li>
                                            <span>
                                              {{- price_break.minimum_quantity -}}
                                              <span aria-hidden="true">+</span></span
                                            >
                                            <span>{{ price_break.price | money_with_currency }}/ea</span>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </volume-pricing>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                              <div
                                id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                                class="cart-item__error"
                                role="alert"
                              >
                                <small class="cart-item__error-text"></small>
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="icon icon-error"
                                  viewBox="0 0 13 13"
                                >
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                              </div>
                            </quantity-popover>
                          </td>
                        </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>

                  {%- liquid
                    # if cart_contains_loyalty_membership
                    #  render 'loyalty-paid-membership-cta'
                    # else
                    if customer
                      render 'cart-credit-value'
                       comment  
                        unless paid_membership_order or cart_contains_only_gift_card
                          render 'loyalty-redeem-credits-cta'
                        endunless 
                      endcomment 
                    endif
                    # endif
                  -%}
                </div>
              {%- endif -%}
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
                {{ 'accessibility.loading' | t }}
              </p>
            </div>
            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>
        </cart-drawer-items>
        <div class="drawer__footer">
          {%- if settings.show_cart_note -%}
            <div
              id="Details-CartDrawer"
              class="accordion-item"
              :class="{'accordion-item--open': open}"
              x-data="{open: false}"
            >
              <button
                class="summary__title accordion-item__title flex justify-between items-center w-full"
                @click="open = !open"
              >
                {{ 'sections.cart.note' | t }}
                {% render 'icons', icon: 'minus' %}
                {% render 'icons', icon: 'plus' %}
              </button>
              <cart-note
                class="accordion-item__content field"
                x-show="open"
                x-collapse
              >
                <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
                <textarea
                  id="CartDrawer-Note"
                  class="text-area text-area--resize-vertical field__input"
                  name="note"
                  placeholder="{{ 'sections.cart.note' | t }}"
                >{{ cart.note }}</textarea>
              </cart-note>
            </div>
          {%- endif -%}

          <!-- Start blocks -->
          <!-- Subtotals -->

          <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
            <div>
              {%- if cart.cart_level_discount_applications.size > 0 -%}
                <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                  {%- for discount in cart.cart_level_discount_applications -%}
                    <li class="discounts__discount discounts__discount--end">
                      {%- render 'icon-discount' -%}
                      {{ discount.title | escape }}
                      (-{{ discount.total_allocated_amount | money }})
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>

            {% if cart.total_discount > 0 %}
              <div class="totals" role="status">
                <h3 class="totals__total normal-case">{{ 'sections.cart.discounts' | t }}</h3>
                <p class="totals__total-value">–{{ cart.total_discount | money }}</p>
              </div>
            {% endif %}

            <div class="totals" role="status">
              <h3 class="totals__total normal-case">{{ 'sections.cart.subtotal' | t }}</h3>
              <p class="totals__total-value">{{ cart.total_price | money }}</p>
            </div>

            {% comment %}
              <small class="tax-note caption-large rte">
                {%- if cart.duties_included and cart.taxes_included -%}
                  {%- if shop.shipping_policy.body == blank -%}
                    {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
                  {%- else -%}
                    {{
                      'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- endif -%}
                {%- elsif cart.duties_included == false and cart.taxes_included -%}
                  {%- if shop.shipping_policy.body == blank -%}
                    {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
                  {%- else -%}
                    {{
                      'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- endif -%}
                {%- elsif cart.duties_included and cart.taxes_included == false -%}
                  {%- if shop.shipping_policy.body == blank -%}
                    {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                  {%- else -%}
                    {{
                      'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- endif -%}
                {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                  {%- if shop.shipping_policy.body == blank -%}
                    {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
                  {%- else -%}
                    {{
                      'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- endif -%}
                {%- endif -%}
              </small>
            {% endcomment %}
          </div>

          <!-- CTAs -->
          {% render 'pbj-age-affirmation' %}
          <div class="cart__ctas" {{ block.shopify_attributes }}>
            <button
              type="submit"
              id="CartDrawer-Checkout"
              class="cart__checkout-button button"
              name="checkout"
              form="CartDrawer-Form"
              data-total-price="{{ cart.total_price }}"
              {% if cart == empty %}
                disabled
              {% endif %}
            >
              {{ 'sections.cart.checkout' | t }}
            </button>

            {% comment %} may 8th 2025 removing accelerated checkout buttons in cart slider and page {% endcomment %}
            {% comment %} {%- if additional_checkout_buttons -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons additional-checkout-buttons--vertical">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%} {% endcomment %}

            </div>
            {% comment %}
            View cart commented due to A/B test result
             <div class="text-center" style="margin-top: 2rem;">
              <a href="{{ routes.cart_url }}" class="underlined-cta inline-block">
                {{ 'sections.cart.view_cart' | t }} ({{ cart.item_count }})
              </a>
            </div>
            {% endcomment %}

          {%- if settings.cart_featured_collection != blank -%}
            {% liquid
              assign featured_collection = collections[settings.cart_featured_collection]
            %}

            {%- if featured_collection.products.size > 0 -%}
              <div class="cart__upsells">
                {%- if settings.cart_featured_collection_title != blank -%}
                  <h2 class="cart__upsells-title">
                    {{ settings.cart_featured_collection_title }}
                  </h2>
                {%- endif -%}

                <div class="grid grid-cols-2 mt-[24px] gap-y-[32px] gap-x-[8px]">
                  {% liquid
                    assign cart_product_ids = cart.items | map: 'product_id'
                    assign limit = 4
                    assign count = 0

                    for product in featured_collection.products
                      unless cart_product_ids contains product.id
                        render 'card-product', card_product: product
                        assign count = count | plus: 1

                        if count == limit
                          break
                        endif
                      endunless
                    endfor
                  %}
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
      {%- render 'cart-drawer-sticky-bar' -%}
    </div>
  </div>

  {%- if enable_loyalty_redeem_block -%}
    {%- render 'loyalty-credits-redeem-modal' -%}
  {%- endif -%}
</cart-drawer>
