<div class="account-novel-app flex flex-col gap-[12px] color-{{ section.settings.novel_app_color_scheme }}">
  
    <p class="h5 h5--primary uppercase">{{ section.settings.novel_app_title }}</p>

    <p class="">{{ section.settings.novel_app_description }}</p>
    <a class="" href="{{ section.settings.novel_app_btn_link }}">
      <img src="{{ section.settings.novel_app_btn_img |  image_url }}">
    </a>
  
</div>
