{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay,
  - quick_add: {Boolean} whether this is a quick add form.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
    quick_add: false
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: value.selected,
      visually_disabled: option_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset
    %}
  {%- elsif picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      onclick="updateStickyCart('{{ value }}', '{{ value.variant.price }}', '{{ cart.currency.symbol }}')"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
      {{ input_dataset }}
    >
    {% liquid
      assign stock_threshold = settings.stock_threshold
      if localization.country.iso_code == 'GB'
        assign stock_threshold = settings.stock_threshold_uk
      endif
    %}
    
    <label 
      for="{{ input_id }}"
      {% if swatch_value %} class="product-variant__label--with-swatch"{% elsif value.variant.inventory_management == nil %} {% elsif value.available == false or value.variant.inventory_quantity < stock_threshold  %} class="unavailable_variant"{% endif %} data-preorder="{{value.variant.inventory_management}}"
      tabindex="0"
      onkeydown="handleKeyPress(event, '{{ input_id }}')">
      {%- if swatch_value -%}
        <div class="product-variant__swatch" style="background-color: {{ swatch_value }};"></div>
      {%- endif -%}
      {% if product.gift_card? or product.handle contains 'gift' %}
          {% if localization.country.iso_code contains 'GB' %}
            {{ value.variant.price | money_without_trailing_zeros }}
          {% else %}
            {{ value.variant.price | money_without_trailing_zeros | split: '.' | first }}
          {% endif %}
        {% else %}
        {{ value -}}
      {% endif %}
      {{ label_unavailable }}
      <svg style='width: 100%; height: 100%; display: none;'>
          <line x1="0" y1="100%" x2="100%" y2="0"
              style="stroke:rgb(0,0,0);stroke-width:1"/>
      </svg>
    </label>
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}

<script>
  function handleKeyPress(event, inputId) {
    if (event.key === "Enter" || event.key === " ") { // Spacebar or Enter
      event.preventDefault();
      document.querySelector(`[for="${inputId}"]`).click();
    }
  }
</script>