{%- liquid
  assign show_section = false
  if section.settings.customer_status == 'all'
    assign show_section = true
  elsif section.settings.customer_status == 'logged_in' and customer
    assign show_section = true
  elsif section.settings.customer_status == 'not_logged_in' and customer == blank
    assign show_section = true
  endif
-%}

{%- if show_section -%}
<style>
  .bero-ambasador {
    padding-top: 40px;
}
  
 .ambasador_inner .ambassador-title {
    color: #004F3C;
    text-align: center;
    leading-trim: both;
    text-edge: cap;

/* H6/D */
    /* font-family: var(--Font-Family-Secondary-Heading, "ABC Whyte"); */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}

.ambasador_inner p {
    text-align: center;
    color: var(--Text-Icon-primary, #000);
    text-align: center;
    leading-trim: both;
    text-edge: cap;

/* Body Large/Normal* */
    /* font-family: var(--Font-Family-Body, "ABC Whyte"); */
    font-size: var(--Units-20, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 80px;
}

.points_ambasador {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.points_ele {
    max-width: 423px;
}

.points_ele ul li {
    list-style: disc;
    margin-bottom: 33px;
}

.ambasador_inner .ambassador-title:before {
    background: -webkit-gradient(linear, right top, left top, from(#9a7d5f), to(#d8b48d));
    background: linear-gradient(270deg, #9a7d5f, #d8b48d);
    border-radius: 24px;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -19px;
    width: 30px;
}

  .ambasador_inner {
    padding: 0 30px;
}

  @media only screen and (max-width: 600px) {
  .points_ambasador {
    flex-direction: column;
    gap: 0;
}


}

  .image-with-text__main-wrapper .page-width {
    padding-left: 0;
    padding-right: 0;
}
</style>

<div class="bero-ambasador color-{{ section.settings.color_scheme }} " >
  <div class="ambasador_inner">
    <h3 class="h6 ambassador-title">{{ section.settings.title }}</h3>
    <p>{{ section.settings.subtitle }}</p>

    <div class="points_ambasador">
      <div class="points_ele">
        {{ section.settings.text1 }}
      </div>
      <div class="points_ele">
        {{ section.settings.text2 }}
      </div>
    </div>
  </div>
  
</div>
  {% endif %}

{% schema %}
{
  "name": "Ambasador Point",
  "tag": "section",
  "class": "bero-taste",
  "settings": [
    {
      "type": "select",
      "id": "customer_status",
      "label": "Customer status",
      "options": [
        {
          "value": "logged_in",
          "label": "Logged in"
        },
        {
          "value": "not_logged_in",
          "label": "Not logged in"
        },
        {
          "value": "all",
          "label": "All"
        }
      ],
      "default": "all",
      "info": "Display this section to all customers, logged in customers, or not logged in customers."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Help BERO turn heads—and raise glasses. You might be a perfect BERO Ambassador if:"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text left"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text Right"
    },
  ],
  "presets": [
    {
      "name": "Ambasador Point"
    }
  ]
}
{% endschema %}
