{%- style -%}
    #shopify-section-{{ section.id }} .pbj-section-divider {
      width: {{ section.settings.divider_width }}%;
      height: {{ section.settings.divider_height }}px;
      background-color: {{ section.settings.divider_color }};
      border-radius: {{ section.settings.divider_border_radius }}px;      
      display: block!important;
    }
 
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;      
    }

    @media screen and (min-width: 768px) {
      .section-{{ section.id }}-margin {
        margin-top: {{ section.settings.margin_top }}px;
        margin-bottom: {{ section.settings.margin_bottom }}px;
      }
    }
{%- endstyle -%}

{% if section.settings.show_page_title %}
  {% if section.settings.page_title_caption != blank %}
    <p class="page-title-caption mb-8 tracking-widest">{{ section.settings.page_title_caption }}</p>
  {% endif %}
  <h1 class="main-page-title page-title {{ section.settings.page_title_heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% unless section.settings.full_width %} page-width{% endunless %}" style="font-family: {{ section.settings.page_title_font }}; text-transform: {{ section.settings.page_title_transform }}">
    {{ page.title | escape }}
  </h1>
{% endif %}

<div
  class="pbj-section-divider section-{{ section.id }}-margin {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% unless section.settings.full_width %} page-width{% endunless %}"
></div>

{% schema %}
{
  "name": "Section Divider - pbj",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "checkbox",
      "label": "Show page title",
      "id": "show_page_title"
    },
    {
      "type": "text",
      "id": "page_title_caption",
      "label": "Caption above page title"
    },
    {
      "type": "select",
      "id": "page_title_heading_size",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h2",
      "label": "Page Title Size"
    },
    {
      "type": "select",
      "id": "page_title_font",
      "label": "Page Title Font",
      "options": [
        { "value": "var(--font-heading-family)", "label": "Heading" },
        { "value": "var(--font-body-family)", "label": "Body" }
      ],
      "default": "var(--font-heading-family)"
    },
    {
      "type": "select",
      "id": "page_title_transform",
      "label": "Page Title Transform",
      "options": [
        { "value": "uppercase", "label": "Uppercase" },
        { "value": "none", "label": "Normal" }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Make section full width"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "divider_width",
      "label": "Divider Width (%)",
      "default": 50,
      "min": 10,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "divider_height",
      "label": "Divider Height (px)",
      "default": 2,
      "min": 1,
      "max": 10,
      "step": 1
    },
    {
      "type": "range",
      "id": "divider_border_radius",
      "label": "Border Radius (px)",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1
    },
    {
      "type": "color",
      "id": "divider_color",
      "label": "Divider Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Section Divider - pbj",
      "category": "Custom"
    }
  ]
}
{% endschema %}
