{%- liquid
  assign show_section = false
  if section.settings.customer_status == 'all'
    assign show_section = true
  elsif section.settings.customer_status == 'logged_in' and customer
    assign show_section = true
  elsif section.settings.customer_status == 'not_logged_in' and customer == blank
    assign show_section = true
  endif
-%}

{%- if show_section -%}
  {{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

  {%- liquid
    assign fetch_priority = 'auto'
    if section.index == 1
      assign fetch_priority = 'high'
    endif
    if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
      assign remove_color_classes = true
    endif
  -%}

  <div
    class="image-with-text__main-wrapper section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}"
    style="--mobile-background-color: {{ section.settings.color_scheme.settings.background }};"
  >
    {%- unless section.settings.no_page_width -%}
      <div class="page-width">
    {%- endunless -%}
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid--flex grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div
            class="image-with-text__media image-with-text__media--{{ section.settings.height }} !border-none global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if section.settings.image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{
                section.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <h2
                    class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'caption' -%}
                  <p
                    class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.caption | escape -}}
                  </p>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} text-center"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}

                {%- when 'image' -%}
                  {%- if block.settings.image != blank -%}
                    <picture>
                      {%- assign sizes = '(max-width: 768px) 100vw, 50vw' -%}
                      {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', reveal-on-scroll: section.settings.reveal_on_scroll -}}
                    </picture>
                  {%- else -%}
                    {{- 'image' | placeholder_svg_tag: 'placeholder' -}}
                  {%- endif -%}

                {%- when 'image_signature' -%}
                  {%- if block.settings.image_signature != blank -%}
                    <picture class="image-signature{% if block.settings.image_signature_mobile_tilt %} image-signature--tilt{% endif %}">
                      {%- assign sizes = '(max-width: 768px) 100vw, 50vw' -%}
                      {{- block.settings.image_signature | image_url: width: block.settings.image_signature.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', reveal-on-scroll: section.settings.reveal_on_scroll -}}
                    </picture>
                  {%- else -%}
                    {{- 'image' | placeholder_svg_tag: 'placeholder' -}}
                  {%- endif -%}

                {%- when 'external_video' -%}
                  {% if block.settings.video_url != blank %}
                    {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
                    {{ 'component-modal-video.css' | asset_url | stylesheet_tag }}

                    {%- liquid
                      assign poster = block.settings.cover_image
                      assign video_id = block.settings.video_url.id
                      assign video_alt = block.settings.description
                      assign loop = ''

                      if block.settings.enable_video_looping
                        assign loop = '&loop=1&playlist=' | append: video_id
                      endif

                      assign alt = 'sections.video.load_video' | t: description: video_alt | escape
                    -%}

                    <div class="image-with-text__video" {{ block.shopify_attributes }}>
                      <modal-opener
                        data-modal="#PopupModal-{{ block.id }}"
                      >
                        <div class="image-with-text__video-media deferred-media gradient global-media-settings media-fit-cover {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                          <button
                            class="image-with-text__video-poster media deferred-media__poster media--landscape"
                            type="button"
                            aria-label="{{ alt }}"
                          >
                            {%- if poster != blank -%}
                              {{
                                poster
                                | image_url: width: 3840
                                | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
                              }}
                            {%- else -%}
                              {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                            {%- endif -%}
                            <span class="deferred-media__poster-button motion-reduce">
                              {% render "icon-play-2" %}
                            </span>
                          </button>
                        </div>
                      </modal-opener>

                      <modal-dialog
                        id="PopupModal-{{ block.id }}"
                        class="modal-video media-modal"
                      >
                        <div
                          class="modal-video__content"
                          role="dialog"
                          aria-label="{{ block.settings.description | escape }}"
                          aria-modal="true"
                          tabindex="-1"
                        >
                          <button
                            id="ModalClose-{{ block.id }}"
                            type="button"
                            class="modal-video__toggle"
                            aria-label="{{ 'accessibility.close' | t }}"
                          >
                            {% render 'icon-close' %}
                          </button>
                          <div class="modal-video__content-info">
                            <deferred-media class="modal-video__video template-popup">
                              <template>
                                {%- if block.settings.video_url.type == 'youtube' -%}
                                  <iframe
                                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                                    class="js-youtube"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen
                                    title="{{ section.settings.description | escape }}"
                                  ></iframe>
                                {%- else -%}
                                  <iframe
                                    src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                                    class="js-vimeo"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen
                                    title="{{ section.settings.description | escape }}"
                                  ></iframe>
                                {%- endif -%}
                              </template>
                            </deferred-media>
                          </div>
                        </div>
                      </modal-dialog>

                      {% if block.settings.heading != blank %}
                        <p class="image-with-text__video-title center uppercase font-body-bold">{{ block.settings.heading }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    {%- unless section.settings.no_page_width -%}
      </div>
    {%- endunless -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Image with text - PBJ",
  "class": "section image-with-text-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "customer_status",
      "label": "Customer status",
      "options": [
        {
          "value": "logged_in",
          "label": "Logged in"
        },
        {
          "value": "not_logged_in",
          "label": "Not logged in"
        },
        {
          "value": "all",
          "label": "All"
        }
      ],
      "default": "all",
      "info": "Display this section to all customers, logged in customers, or not logged in customers."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "no_page_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "image_signature",
      "name": "Image of signature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_signature",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "image_signature_mobile_tilt",
          "label": "Tilt signature on mobile",
          "default": true
        }
      ]
    },
    {
      "type": "external_video",
      "name": "t:sections.image-with-text.blocks.external_video.name",
      "limit": 1,
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "t:sections.image-with-text.blocks.external_video.settings.video_url.label",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.image-with-text.blocks.external_video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image-with-text.blocks.external_video.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.image-with-text.blocks.external_video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.image-with-text.blocks.external_video.settings.description.label",
          "info": "t:sections.image-with-text.blocks.external_video.settings.description.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text - PBJ",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
