{%- liquid
  assign show_section = false
  if section.settings.customer_status == 'all'
    assign show_section = true
  elsif section.settings.customer_status == 'logged_in' and customer
    assign show_section = true
  elsif section.settings.customer_status == 'not_logged_in' and customer == blank
    assign show_section = true
  endif
-%}

{%- if show_section -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

  {%- liquid
    assign posts_displayed = section.settings.blog.articles_count
    if section.settings.post_limit <= section.settings.blog.articles_count
      assign posts_exceed_limit = true
      assign posts_displayed = section.settings.post_limit
    endif

    assign show_desktop_slider = false
    if section.settings.enable_desktop_slider and section.settings.post_limit > section.settings.columns_desktop
      assign show_desktop_slider = true
    endif
  -%}

  <div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %}">
    <div class="isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding page-width-desktop">
      {% if section.settings.show_breadcrumbs %}
        <div class="breadcrumbs-container">
          <a href="{{ request.origin }}" class="breadcrumbs-link">Home</a>&nbsp;
          {% if blog != blank %}
            /&nbsp;
            <a href="{{ blog.url }}" class="breadcrumbs-link" style="text-decoration: none;">{{ blog.title }}</a>
          {% endif %}
        </div>
      {% endif %}

      <{% if template.name == 'index' %}div{% else %}slider-component-pbj{% endif %} class="{% unless template.name == 'index' %}slider-component-pbj slider-mobile-gutter {% if show_desktop_slider %} slider-component-desktop hidden md:inline{% endif %}{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" role="region" aria-label="{{ section.settings.heading | escape }}" aria-roledescription="carousel">
        {%- if template.name == 'index' -%}
          <h2 class="visually-hidden">{{ section.settings.heading }}</h2>
        {%- endif -%}
        {%- unless section.settings.heading == blank -%}
          <div class="blog-header title-wrapper-with-link {% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
            <div class="{% if section.settings.show_title_eyebrow %}has-title-eyebrow{% endif %}">
              {% if section.settings.title_h1 %}
                <h1
              {% else %}
                <h2
              {% endif %}
                id="SectionHeading-{{ section.id }}"
                class="{% unless template.name == 'index' %}blog__title {% endunless %}inline-richtext {{ section.settings.heading_size }} {% if section.settings.show_title_eyebrow %} title-eyebrow{% endif %} {% if section.settings.left_eyebrow %} left-eyebrow{% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {{ section.settings.heading }}
              {% if section.settings.title_h1 %}
                </h1>
              {% else %}
                </h2>
              {% endif %}
              {% unless section.settings.subheading == blank %}
                <h2 class="h3 featured-blog-subheading inline-richtext">{{ section.settings.subheading }}</h2>
              {% endunless %}
            </div>

            {%- if section.settings.show_view_all -%}
              <a
                href="{{ section.settings.blog.url }}"
                class="medium-hide{% unless template.name == 'index' %} large-up-hide{% endunless %} featured-blog__view-all underlined-cta {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              >
                {{ section.settings.view_all_text }}
              </a>
            {%- endif -%}

            {%- if show_desktop_slider -%}
              <div class="slider-buttons{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
                <button
                  type="button"
                  class="slider-button slider-button--prev"
                  name="previous"
                  aria-label="{{ 'general.slider.previous_slide' | t }}"
                  aria-controls="SliderPBJ-{{ section.id }}"
                >
                  {% render 'icon-arrow-wide' %}
                </button>
                <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %} medium-hide large-up-hide">
                  {%- if section.settings.slider_visual == 'counter' -%}
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                    <span class="slider-counter--total">{{ section.blocks.size }}</span>
                  {%- else -%}
                    <div class="slideshow__control-wrapper">
                      {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                        <button
                          class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                          aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                          aria-controls="SliderPBJ-{{ section.id }}"
                        >
                          {%- if section.settings.slider_visual == 'numbers' -%}
                            {{ forloop.index -}}
                          {%- else -%}
                            <span class="dot"></span>
                          {%- endif -%}
                        </button>
                      {%- endfor -%}
                    </div>
                  {%- endif -%}
                </div>
                <button
                  type="button"
                  class="slider-button slider-button--next"
                  name="next"
                  aria-label="{{ 'general.slider.next_slide' | t }}"
                  aria-controls="SliderPBJ-{{ section.id }}"
                >
                  {% render 'icon-arrow-wide' %}
                </button>
              </div>
            {%- endif -%}
          </div>
        {%- endunless -%}

        <ul
          {% if show_desktop_slider -%}
            id="SliderPBJ-{{ section.id }}"
          {%- endif -%}
          class="blog__posts{% if section.settings.condensed_style %} blog__posts--condensed{% endif %} articles-wrapper contains-card contains-card--article{% if settings.blog_card_style == 'standard' %} contains-card--standard{% endif %}{% if show_desktop_slider %} page-width-desktop grid--peek grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop grid--flex slider--desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}{% else %} grid md:grid-cols-{{ section.settings.columns_desktop }} {% endif %} "
          aria-live="polite"
        >
          {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
            {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
              <li
                {% if show_desktop_slider -%}
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                {% endif %}
                class="blog__post {% if show_desktop_slider -%} grid__item article slider__slide slider__slide--full-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
                role="group"
                aria-roledescription="Slide"
                aria-label="{{ forloop.index }} of {{ forloop.length }}"
              >
                {% render 'pbj-article-card',
                  blog: section.settings.blog,
                  article: article,
                  media_aspect_ratio: 1.66,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: section.settings.show_excerpt,
                  show_read_more: section.settings.show_read_more,
                  read_more_txt: section.settings.read_more_txt,
                  show_tag: section.settings.show_tag,
                  condensed_style: section.settings.condensed_style
                %}
              </li>
            {%- endfor -%}
          {%- elsif section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              <li
                {% if show_desktop_slider -%}
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                {% endif %}
                class="blog__post {% if show_desktop_slider -%} grid__item article slider__slide slider__slide--full-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >

                {% render 'pbj-article-card',
                  blog: block.settings.article.blog,
                  article: block.settings.article,
                  media_aspect_ratio: 1.66,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: section.settings.show_excerpt,
                  show_read_more: section.settings.show_read_more,
                  read_more_txt: section.settings.read_more_txt,
                  show_tag: section.settings.show_tag,
                  condensed_style: section.settings.condensed_style
                %}
              </li>
            {%- endfor -%}
          {%- else -%}
            {% for i in (1..section.settings.post_limit) -%}
              {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
              {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="blog__post grid__item article slider__slide slider__slide--full-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div class="article-card-wrapper card-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  <div
                    class="
                      card article-card card--{{ settings.blog_card_style }}
                      {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
                      {% if section.settings.show_image %} card--media{% else %} card--text{% endif %}
                    "
                    style=" {% if settings.blog_card_style == 'standard' %} --ratio-percent: 100%;{% elsif settings.blog_card_style == 'card' %} --ratio-percent: 0%;{% endif %}"
                  >
                    <div
                      class="card__inner{% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
                      style="--ratio-percent: 80%;"
                    >
                      {%- if section.settings.show_image == true -%}
                        <div class="article-card__image-wrapper card__media">
                          <div class="article-card__image media">
                            {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}
                          </div>
                        </div>
                      {%- endif -%}
                      <div class="card__content">
                        <div class="card__information">
                          <h3 class="card__heading h2">
                            {{ 'sections.featured_blog.onboarding_title' | t }}
                          </h3>
                          <p class="article-card__excerpt rte-width">
                            {{ 'sections.featured_blog.onboarding_content' | t }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card__content">
                      <div class="card__information">
                        <h3 class="card__heading h2">
                          {{ 'sections.featured_blog.onboarding_title' | t }}
                        </h3>
                        <p class="article-card__excerpt rte-width">
                          {{ 'sections.featured_blog.onboarding_content' | t }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>

        {%- unless template.name == 'index' -%}
          {%- if section.settings.show_view_all -%}
            <a
              href="{{ section.settings.blog.url }}"
              class="small-hide featured-blog__view-all underlined-cta {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            >
              {{ section.settings.view_all_text }}
            </a>
          {%- endif -%}
        {%- endunless -%}
      </{% if template.name == 'index' %}div{% else %}slider-component-pbj{% endif %}>

      {% comment %} Mobile Carousel {% endcomment %}
       {% if show_desktop_slider %}
        <{% if template.name == 'index' %}div{% else %}slider-component-pbj{% endif %} class="{% unless template.name == 'index' %}slider-component-pbj slider-mobile-gutter slider-component-desktop inline md:hidden{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" role="region" aria-label="{{ section.settings.heading | escape }}" aria-roledescription="carousel">
          {%- if template.name == 'index' -%}
            <h2 class="visually-hidden">{{ section.settings.heading }}</h2>
          {%- endif -%}
          {%- unless section.settings.heading == blank -%}
            <div class="blog-header title-wrapper-with-link {% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
              <div class="{% if section.settings.show_title_eyebrow %}has-title-eyebrow{% endif %}">
                {% if section.settings.title_h1 %}
                  <h1
                {% else %}
                  <h2
                {% endif %}
                  id="SectionHeading-{{ section.id }}"
                  class="{% unless template.name == 'index' %}blog__title {% endunless %}inline-richtext {{ section.settings.heading_size }} {% if section.settings.show_title_eyebrow %} title-eyebrow{% endif %} {% if section.settings.left_eyebrow %} left-eyebrow{% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                >
                  {{ section.settings.heading }}
                {% if section.settings.title_h1 %}
                  </h1>
                {% else %}
                  </h2>
                {% endif %}
                {% unless section.settings.subheading == blank %}
                  <h2 class="h3 featured-blog-subheading inline-richtext">{{ section.settings.subheading }}</h2>
                {% endunless %}
              </div>
  
              {%- if section.settings.show_view_all -%}
                <a
                  href="{{ section.settings.blog.url }}"
                  class="medium-hide{% unless template.name == 'index' %} large-up-hide{% endunless %} featured-blog__view-all underlined-cta {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                >
                  {{ section.settings.view_all_text }}
                </a>
              {%- endif -%}
  
              {%- if show_desktop_slider -%}
                <div class="slider-buttons{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
                  <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="{{ 'general.slider.previous_slide' | t }}"
                    aria-controls="SliderPBJ-{{ section.id }}"
                  >
                    {% render 'icon-arrow-wide' %}
                  </button>
                  <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %} medium-hide large-up-hide">
                    {%- if section.settings.slider_visual == 'counter' -%}
                      <span class="slider-counter--current">1</span>
                      <span aria-hidden="true"> / </span>
                      <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                      <span class="slider-counter--total">{{ section.blocks.size }}</span>
                    {%- else -%}
                      <div class="slideshow__control-wrapper" role="tablist" aria-label="Slides">
                        {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                          <button
                            class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                            aria-label="Slide {{ forloop.index }}"
                            aria-controls="Slide-{{ section.id }}-{{ forloop.index }}"
                          >
                            {%- if section.settings.slider_visual == 'numbers' -%}
                              {{ forloop.index -}}
                            {%- else -%}
                              <span class="dot"></span>
                            {%- endif -%}
                          </button>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                  <button
                    type="button"
                    class="slider-button slider-button--next"
                    name="next"
                    aria-label="{{ 'general.slider.next_slide' | t }}"
                    aria-controls="SliderPBJ-{{ section.id }}"
                  >
                    {% render 'icon-arrow-wide' %}
                  </button>
                </div>
              {%- endif -%}
            </div>
          {%- endunless -%}
  
          <ul
            {% if show_desktop_slider -%}
              id="SliderPBJ-{{ section.id }}"
            {%- endif -%}
            class="blog__posts{% if section.settings.condensed_style %} blog__posts--condensed{% endif %} articles-wrapper contains-card contains-card--article{% if settings.blog_card_style == 'standard' %} contains-card--standard{% endif %}{% if show_desktop_slider %} page-width-desktop grid--peek grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop grid--flex slider--desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}{% else %} grid md:grid-cols-{{ section.settings.columns_desktop }} {% endif %} "
            aria-live="polite"
          >
            {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
              {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                <li
                  {% if show_desktop_slider -%}
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                  {% endif %}
                  class="blog__post {% if show_desktop_slider -%} grid__item article slider__slide slider__slide--full-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                  role="tabpanel"
                  aria-roledescription="Slide"
                  aria-label="{{ forloop.index }} of {{ forloop.length }}"
                >
                  {% render 'pbj-article-card',
                    blog: section.settings.blog,
                    article: article,
                    media_aspect_ratio: 1.66,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: section.settings.show_excerpt,
                    show_read_more: section.settings.show_read_more,
                    read_more_txt: section.settings.read_more_txt,
                    show_tag: section.settings.show_tag,
                    condensed_style: section.settings.condensed_style
                  %}
                </li>
              {%- endfor -%}
            {%- elsif section.blocks.size > 0 -%}
              {%- for block in section.blocks -%}
                <li
                  {% if show_desktop_slider -%}
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                  {% endif %}
                  class="blog__post {% if show_desktop_slider -%} grid__item article slider__slide slider__slide--full-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
  
                  {% render 'pbj-article-card',
                    blog: block.settings.article.blog,
                    article: block.settings.article,
                    media_aspect_ratio: 1.66,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: section.settings.show_excerpt,
                    show_read_more: section.settings.show_read_more,
                    read_more_txt: section.settings.read_more_txt,
                    show_tag: section.settings.show_tag,
                    condensed_style: section.settings.condensed_style
                  %}
                </li>
              {%- endfor -%}
            {%- else -%}
              {% for i in (1..section.settings.post_limit) -%}
                {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="blog__post grid__item article slider__slide slider__slide--full-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="article-card-wrapper card-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <div
                      class="
                        card article-card card--{{ settings.blog_card_style }}
                        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
                        {% if section.settings.show_image %} card--media{% else %} card--text{% endif %}
                      "
                      style=" {% if settings.blog_card_style == 'standard' %} --ratio-percent: 100%;{% elsif settings.blog_card_style == 'card' %} --ratio-percent: 0%;{% endif %}"
                    >
                      <div
                        class="card__inner{% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
                        style="--ratio-percent: 80%;"
                      >
                        {%- if section.settings.show_image == true -%}
                          <div class="article-card__image-wrapper card__media">
                            <div class="article-card__image media">
                              {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}
                            </div>
                          </div>
                        {%- endif -%}
                        <div class="card__content">
                          <div class="card__information">
                            <h3 class="card__heading h2">
                              {{ 'sections.featured_blog.onboarding_title' | t }}
                            </h3>
                            <p class="article-card__excerpt rte-width">
                              {{ 'sections.featured_blog.onboarding_content' | t }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card__content">
                        <div class="card__information">
                          <h3 class="card__heading h2">
                            {{ 'sections.featured_blog.onboarding_title' | t }}
                          </h3>
                          <p class="article-card__excerpt rte-width">
                            {{ 'sections.featured_blog.onboarding_content' | t }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            {%- endif -%}
          </ul>
  
          {%- unless template.name == 'index' -%}
            {%- if section.settings.show_view_all -%}
              <a
                href="{{ section.settings.blog.url }}"
                class="small-hide featured-blog__view-all underlined-cta {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              >
                {{ section.settings.view_all_text }}
              </a>
            {%- endif -%}
          {%- endunless -%}
        </{% if template.name == 'index' %}div{% else %}slider-component-pbj{% endif %}>
       {% endif %}

    </div>
  </div>

  <script src="{{ 'pbj-component-slider.js' | asset_url }}" defer="defer"></script>

  <div class="hidden md:grid-cols-1 md:grid-cols-2 md:grid-cols-2 md:grid-cols-4 md:grid-cols-5"></div>
{%- endif -%}

{% schema %}
{
  "name": "Blog Posts - pbj",
  "tag": "section",
  "class": "pbj-featured-blog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "condensed_style",
      "label": "Condensed Style",
      "default": false
    },
    {
      "type": "select",
      "id": "customer_status",
      "label": "Customer status",
      "options": [
        {
          "value": "logged_in",
          "label": "Logged in"
        },
        {
          "value": "not_logged_in",
          "label": "Not logged in"
        },
        {
          "value": "all",
          "label": "All"
        }
      ],
      "default": "all",
      "info": "Display this section to all customers, logged in customers, or not logged in customers."
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.featured-blog.settings.heading.default",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "title_h1",
      "default": false,
      "label": "Use h1 tag for title"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "default": "FEATURED",
      "label": "Sub heading"
    },
    {
      "type": "checkbox",
      "id": "show_title_eyebrow",
      "default": false,
      "label": "Show title eyebrow"
    },
    {
      "type": "checkbox",
      "id": "left_eyebrow",
      "default": false,
      "label": "Align eyebrow to the left"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "default": true,
      "label": "Show tag"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "Show Excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "view_all_text",
      "default": "See all articles",
      "label": "View all text"
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show read now",
      "default": true
    },
    {
      "type": "text",
      "id": "read_more_txt",
      "info": "This will overwrite the defaul Read more button label.",
      "label": "Read more text (Optional)"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Blog Article",
          "info": "Blocks are displayed if no blog is set at the section level."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Posts - pbj"
    }
  ]
}
{% endschema %}
